@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");

@import url("https://use.typekit.net/wbl1yqc.css");

/* VARIABLES */

:root {
  --background: #fdf3e9;
  --textcolor: #48322b;
  --pinkaccent: #f9a19f;
  --purpleaccent: #441e74;
  --pricecolor: #a18a68;
  --textfields: #fef0f0;
}

body {
  background-color: var(--background);
  background-image: url("../assets/background-image.png");
  background-repeat: repeat;
  background-blend-mode: soft-light;
  background-size: cover;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--textcolor);
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
}

header a:hover {
  color: var(--purpleaccent);
  text-decoration: underline;
  text-underline-offset: 7px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: gelica, sans-serif;
  font-size: 24px;
  color: var(--textcolor);
}

h2 {
  font-family: gelica, sans-serif;
  font-size: 20px;
  color: var(--textcolor);
}

h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--textcolor);
}

p {
  font-family: "Ubuntu", sans-serif;
  line-height: 24px;
  font-size: 12px;
  color: var(--textcolor);
}

@media only screen and (min-width: 900px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  a {
    font-size: 20px;
  }
}

button {
  background-color: var(--pinkaccent);
  color: var(--textcolor);
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0px 4px 4px rgba(134, 151, 95, 0.31);
  border-radius: 8px;
  border: none;
  padding: 12px 14px;
}

button:hover {
  background-color: var(--purpleaccent);
  color: var(--background);
}

/* HEADER */

.header {
  background-color: var(--pinkaccent);
  background-image: url(../assets/background-image.png);
  background-blend-mode: soft-light;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-family: gelica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  color: var(--textcolor);
}

.nav-link:hover {
  color: var(--purpleaccent);
  text-decoration: underline;
  text-underline-offset: 7px;
}

@media only screen and (min-width: 900px) {
  .logo {
    height: 100px;
    width: auto;
  }
}

/*BURGERMENU*/
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--textcolor);
}

/* BURGERMENU RESPONSIVE */
@media only screen and (max-width: 900px) {
  .nav-menu {
    background-image: url(../assets/background-image.png);
    background-blend-mode: soft-light;
    background-size: cover;
    border-top: 1px solid #441e74;
    position: fixed;
    left: -1000%;
    top: 4.5rem;
    flex-direction: column;
    background-color: var(--pinkaccent);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-link {
    font-size: 20px;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*HEROSECTION*/
.herosection {
  background-image: url("../assets/banner-mobil.png");
  background-color: var(--purpleaccent);
  background-repeat: no-repeat;
  background-size: cover;
  height: 226.62px;
  text-align: right;
  color: var(--background);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.herosection h1 {
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  padding: 10px;
  color: var(--background);
}

.cta1 {
  background-color: var(--pinkaccent);
  color: var(--textcolor);
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0px 4px 4px rgba(134, 151, 95, 0.31);
  border-radius: 8px;
  border: none;
  padding: 12px 14px;
  margin: 10px;
}

@media only screen and (min-width: 700px) {
  .herosection {
    height: 400px;
  }

  .cta1 {
    margin: 20px;
  }

  .herosection h1 {
    padding: 20px;
  }
}

@media only screen and (min-width: 900px) {
  .herosection {
    background-image: url("../assets/banner.png");
    height: 591px;
    margin-bottom: 70px;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
  }

  .herosection h1 {
    font-size: 36px;
    padding-right: 30px;
  }
  .cta1 {
    margin-right: 30px;
    font-size: 20px;
  }
}

/*FOREVER COLLECTION FRONT PAGE*/
.forever-collection {
  margin-top: 20px;
  margin-bottom: 20px;
}

.forever-collection h3 {
  font-size: 12px;
  color: var(--textcolor);
}

.forever-text {
  max-width: 80%;
  margin: 10px;
  padding: 10px;
}

.forever-text h1 {
  font-size: 24px;
  color: var(--textcolor);
}

.forever-text p {
  font-size: 12px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.product-img-frontpage {
  width: 200px;
  height: auto;
  margin-bottom: 5px;
}

.product-frontpage {
  padding: 20px;
}

.three-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: scroll;
}

.price {
  color: var(--pricecolor);
  margin-top: 5px;
}

@media only screen and (min-width: 900px) {
  .forever-collection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 70px;
  }
  .forever-text {
    max-width: 25%;
    margin-left: 20px;
  }
  .forever-text h1 {
    font-size: 32px;
  }
  .forever-text p {
    font-size: 16px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .forever-collection h3 {
    font-size: 20px;
  }
  .product-img-frontpage {
    width: 400px;
  }

  .three-products {
    overflow: auto;
    margin-left: 50px;
  }
}

/*FOOTER*/
footer {
  background-color: var(--pinkaccent);
  background-image: url("../assets/background-image.png");
  background-blend-mode: soft-light;
  background-size: cover;
  display: flex;
  gap: 10px;
  color: var(--textcolor);
  margin-top: 20px;
}

footer h3 {
  margin-bottom: 10px;
  margin: 20px;
}

footer p {
  margin: 20px;
}

.footer-logo {
  display: none;
}

@media only screen and (min-width: 700px) {
  footer {
    gap: 20px;
    justify-content: space-between;
  }
  .footer-logo {
    display: block;
    max-width: 200px;
    margin-top: 100px;
  }
}

@media only screen and (min-width: 900px) {
  footer {
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  footer h3 {
    font-size: 20px;
    margin-top: 50px;
  }

  footer p {
    font-size: 16px;
  }

  #åbningstider {
    margin-right: 120px;
  }

  .footer-logo {
    max-width: 400px;
    margin-bottom: 50px;
  }
}

/* INDIVIDUAL PRODUCT */
/*TILFØJET TIL KURV FUNKTION*/
#added {
  text-align: center;
  background-color: var(--purpleaccent);
  padding: 20px;
  display: none;
}

#added::after {
  display: block;
}

#added h2 {
  color: var(--background);
  margin-bottom: 15px;
}

#added a {
  color: var(--background);
  text-decoration: underline;
  text-underline-offset: 7px;
}

.product-img {
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 8px;
}

#product-text-section {
  margin-left: 35.5px;
  max-width: 80%;
}

.product-price {
  color: var(--pricecolor);
}

.product-price::after {
  content: ",00 DKK";
}

.product-name,
.product-price,
.product-description {
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-name,
.product-price {
  margin-left: 10px;
}

@media only screen and (min-width: 700px) {
  .product-page {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin: 20px;
    color: var(--textcolor);
  }
  #product-text-section {
    margin-top: 40px;
  }
  .add-to-bag {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }
}

@media only screen and (min-width: 1000px) {
  .product-img {
    width: 500px;
  }
  .product-name,
  .product-price,
  .product-description {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #product-text-section {
    width: 70%;
  }
  .product-page {
    margin: 50px;
  }
}

/*Add to bag section*/
.add-to-bag {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.counter {
  display: flex;
  align-items: center;
}
.counter input {
  font-family: "Ubuntu", sans-serif;
  width: 30px;
  height: 30px;
  border: 0;
  font-size: 12px;
  text-align: center;
  background: var(--textfields);
  color: var(--textcolor);
  appearance: none;
  outline: 0;
  border-radius: 4px;
  border: 1px solid var(--textcolor);
}
.counter span {
  font-family: "Ubuntu", sans-serif;
  display: block;
  font-size: 16px;
  padding: 0 10px;
  cursor: pointer;
  color: var(--textcolor);
  user-select: none;
}

/* Materialer */
select {
  border: 1px solid var(--textcolor);
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--textfields);
  color: var(--textcolor);
  margin-top: 10px;
  margin-bottom: 10px;
}

select:focus {
  outline: none;
}

#materialer {
  margin-top: 20px;
  margin-left: 10px;
}

/* SHOP PAGE */
.shop-page .price::after {
  content: ",00 DKK";
}

.shop-page .price {
  margin-bottom: 20px;
}
.filter {
  border-bottom: 1px solid var(--textcolor);
}

.categories h2:hover {
  text-decoration: underline;
  text-underline-offset: 7px;
}

.product-name-shop {
  padding-top: 5px;
  padding-bottom: 5px;
}

.product-name-shop:hover {
  text-decoration: underline;
}

#shop-template {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.search__container {
  margin-left: 20px;
}

.smykker {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 20px;
}

.product-img-shop {
  max-width: 100%;
  border-radius: 8px;
}

.categories {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

#category-template {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

@media only screen and (min-width: 1000px) {
  .search__container {
    margin-left: 10px;
  }
  .smykker {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  #shop-page {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
  }
  .categories {
    flex-direction: column;
    gap: 2rem;
  }

  #category-template {
    flex-direction: column;
    gap: 2rem;
  }

  .filter {
    border-right: 1px solid var(--textcolor);
    border-bottom: 0px solid var(--background);
  }

  .shop-main {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    margin-top: 50px;
  }
}

.filter h1 {
  margin-left: 20px;
}

/* search field */
.search__container {
  margin: 20px;
  margin-left: 20px;
}

.search__input {
  width: 100%;
  padding: 12px 24px;
  background-color: var(--textfields);
  font-size: 12px;
  line-height: 18px;
  color: var(--textcolor);
  border-radius: 16px;
  border: 1px solid var(--textcolor);
}

@media only screen and (min-width: 700px) {
  .search__input {
    font-size: 16px;
  }
}

/* OM MIG */
.om-mig-page h1 {
  text-align: center;
  padding: 20px;
}

.om-mig-text h2 {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.om-mig-text h3 {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.om-mig-text p {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (min-width: 700px) {
  .om-mig-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .om-mig,
  .speciale {
    margin: 50px;
  }
  .om-mig-text h3 h2 p {
    padding-left: none;
    padding-right: none;
  }
  .om-mig-text h2 {
    padding-left: none;
    padding-right: none;
  }
  .om-mig-text p {
    padding-left: none;
    padding-right: none;
  }
}

@media only screen and (min-width: 1000px) {
  .om-mig-text {
    grid-gap: 100px;
  }

  .om-mig-page h1 {
    padding: 40px;
  }
}

.allan-om-mig-img {
  max-width: 100%;
  margin-top: 20px;
}

/* ------ KURV ------ */
.kurv-main h1 {
  text-align: center;
  margin-top: 20px;
}

#shop-videre {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
  text-underline-offset: 7px;
}

#shop-videre:hover {
  color: var(--purpleaccent);
}

#top-sektion-kurv {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--pinkaccent);
}

.produkt-styling-kurv {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin: 10px;
  border-bottom: 2px solid var(--pinkaccent);
}

.produkt-img-kurv {
  max-width: 20%;
  border-radius: 16px;
  margin: 10px;
}

#produkt-info-kurv {
  margin: 10px;
}

.under-produkt-kurv {
  margin: 10px;
}

.under-produkt-kurv button {
  margin-top: 10px;
}

.kurv-main textarea {
  font-family: "Ubuntu", sans-serif;
  color: var(--textcolor);
  width: 70%;
  height: 100px;
  background-color: var(--textfields);
  border-radius: 8px;
  border: 1px solid var(--textcolor);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  opacity: 70%;
}

@media only screen and (min-width: 1000px) {
  #produkt-info-kurv h3 {
    padding-bottom: 20px;
  }
  #produkt-info-kurv p {
    padding-bottom: 20px;
  }
}

.price-total {
  color: var(--pricecolor);
  margin-left: 10px;
  margin-top: 10px;
}

#remove-from-kurv {
  text-decoration: underline;
  text-underline-offset: 7px;
  cursor: pointer;
}

#total-og-fjern {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 50px;
}
