@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");

@import url("https://use.typekit.net/wbl1yqc.css");

/* VARIABLES */

:root {
  --background: #fdf3e9;
  --textcolor: #48322b;
  --pinkaccent: #f9a19f;
  --purpleaccent: #441e74;
  --pricecolor: #a18a68;
  --textfields: #fef0f0;
}

body {
  background-color: var(--background);
  background-image: url("../assets/background-image.png");
  background-repeat: repeat;
  background-blend-mode: soft-light;
  background-size: cover;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: gelica, sans-serif;
}

h2 {
  font-family: gelica, sans-serif;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

p {
  font-family: "Ubuntu", sans-serif;
  line-height: 24px;
  font-size: 12px;
}

button {
  background-color: var(--pinkaccent);
  color: var(--textcolor);
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0px 4px 4px rgba(134, 151, 95, 0.31);
  border-radius: 8px;
  border: none;
  padding: 12px 14px;
}

button:hover {
  background-color: var(--purpleaccent);
  color: var(--background);
}

/* HEADER */

.header {
  background-color: var(--pinkaccent);
  background-image: url(../assets/background-image.png);
  background-blend-mode: soft-light;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-family: gelica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  color: var(--textcolor);
}

.nav-link:hover {
  color: var(--purpleaccent);
}

@media only screen and (min-width: 900px) {
  .logo {
    height: 100px;
    width: auto;
  }
}

/*BURGERMENU*/
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--textcolor);
}

/* BURGERMENU RESPONSIVE */
@media only screen and (max-width: 900px) {
  .nav-menu {
    background-image: url(../assets/background-image.png);
    background-blend-mode: soft-light;
    background-size: cover;
    border-top: 1px solid #441e74;
    position: fixed;
    left: -1000%;
    top: 4.5rem;
    flex-direction: column;
    background-color: var(--pinkaccent);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-link {
    font-size: 20px;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*HEROSECTION*/
.herosection {
  background-image: url("../assets/banner-mobil.png");
  background-color: var(--purpleaccent);
  background-repeat: no-repeat;
  background-size: cover;
  height: 226.62px;
  text-align: right;
  color: var(--background);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.herosection h1 {
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  padding: 10px;
}

.cta1 {
  background-color: var(--pinkaccent);
  color: var(--textcolor);
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0px 4px 4px rgba(134, 151, 95, 0.31);
  border-radius: 8px;
  border: none;
  padding: 12px 14px;
  margin: 10px;
}

@media only screen and (min-width: 700px) {
  .herosection {
    height: 400px;
  }

  .cta1 {
    margin: 20px;
  }

  .herosection h1 {
    padding: 20px;
  }
}

@media only screen and (min-width: 900px) {
  .herosection {
    background-image: url("../assets/banner.png");
    height: 591px;
    margin-bottom: 70px;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
  }

  .herosection h1 {
    font-size: 36px;
    padding-right: 30px;
  }
  .cta1 {
    margin-right: 30px;
    font-size: 20px;
  }
}

/*FOREVER COLLECTION FRONT PAGE*/
.forever-collection {
  margin-top: 20px;
}

.forever-collection h3 {
  font-size: 12px;
  color: var(--textcolor);
}

.forever-text {
  max-width: 80%;
  margin: 10px;
  padding: 10px;
}

.forever-text h1 {
  font-size: 24px;
  color: var(--textcolor);
}

.forever-text p {
  font-size: 12px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.product-img-frontpage {
  width: 200px;
  height: auto;
  margin-bottom: 5px;
}

.product-frontpage {
  padding: 20px;
}

.three-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: scroll;
}

.price {
  color: var(--pricecolor) !important;
  margin-top: 5px;
}

@media only screen and (min-width: 900px) {
  .forever-collection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .forever-text {
    max-width: 25%;
    margin-left: 20px;
  }
  .forever-text h1 {
    font-size: 32px;
  }
  .forever-text p {
    font-size: 16px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .forever-collection h3 {
    font-size: 20px;
  }
  .product-img-frontpage {
    width: 400px;
  }

  .three-products {
    overflow: auto;
    margin-left: 50px;
  }
}

/*FOOTER*/
footer {
  background-color: var(--pinkaccent);
  background-image: url("../assets/background-image.png");
  background-blend-mode: soft-light;
  background-size: cover;
  display: flex;
  gap: 10px;
  color: var(--textcolor);
  margin-top: 20px;
}

footer h3 {
  margin-bottom: 10px;
  margin: 20px;
}

footer p {
  margin: 20px;
}

.footer-logo {
  display: none;
}

@media only screen and (min-width: 700px) {
  footer {
    gap: 20px;
    justify-content: space-between;
  }
  .footer-logo {
    display: block;
    max-width: 200px;
    margin-top: 100px;
  }
}

@media only screen and (min-width: 900px) {
  footer {
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  footer h3 {
    font-size: 20px;
    margin-top: 50px;
  }

  footer p {
    font-size: 16px;
  }

  #kontakt {
    margin-left: 120px;
  }

  #åbningstider {
    margin-right: 120px;
  }

  .footer-logo {
    max-width: 400px;
    margin-bottom: 50px;
  }
}

/* DESIGN DIT EGET SMYKKE */

.email-form-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

.design-dit-eget-smykke {
  margin: 5%;
  margin-bottom: 0%;
  margin-right: 0%;
}

.email-form-div {
  grid-column-start: 1;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
}

form h3{
  color: var(--textcolor);
  margin-bottom: 5%;
}

form input, form textarea {
  border: 0;
  margin: 10px 0;
  padding: 2%;
  outline: 1px solid var(--textcolor);
  border-radius: 8px;
  background: var(--background);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

/* a container */
.responsive-two-column-grid {
  display:block;
}

/* columns */
.responsive-two-column-grid > * {
  padding:1rem;
}

/* tablet and above version */
@media (min-width:768px) {
  .responsive-two-column-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-rows: min-content auto min-content;
      padding: 8%;
      padding-bottom: 0%;
      padding-top: 5%;
  }
}